.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    
}

.nav-flow {
    display: flex;
    justify-content: space-evenly;
    width: 975px;
    padding: 0px 16px;
    align-items: center;
}