.contentFlow {
    display: flex;
    padding-right: 293px;
    position: relative;
}
.contents {
     display: flex;
     flex-direction: column;
}

.sideMenu {
    position:fixed;
    right: 0;
    top: 111px;
    width: 369px;
}